#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---
- job_name: "prometheus"
  metrics_path: "/prometheus/metrics"
  static_configs:
    - targets:
        - "127.0.0.1:9090"
  relabel_configs:
    - target_label: instance
      replacement: {{ ansible_local.aws_tags.name }}

- job_name: "alertmanager"
  metrics_path: "/alertmanager/metrics"
  static_configs:
    - targets:
        - "127.0.0.1:9093"
  relabel_configs:
    - target_label: instance
      replacement: {{ ansible_local.aws_tags.name }}

- job_name: nodes
  ec2_sd_configs:
  {% for region in monitor_regions %}
    - region: "{{ region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9100
      filters:
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Environment
          values:
            - "{{ ansible_local.aws_tags.environment}}"
  {% endfor %}
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Environment]
      target_label: environment
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*Packer Builder.*"
      action: drop
    - source_labels: [__meta_ec2_tag_Application]
      regex: ".*nat-instance.*"
      action: drop
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*nat-instance.*"
      action: drop

- job_name: synapse
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9102
      filters:
        - name: tag:Application
          values:
            - synapse
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Environment
          values:
            - "{{ ansible_local.aws_tags.environment }}"
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Environment]
      target_label: environment
    - source_labels: [__meta_ec2_tag_Project]
      target_label: project
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*Packer Builder.*"
      action: drop

- job_name: sygnal
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9201
      filters:
        - name: tag:Application
          values:
            - sygnal
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Environment
          values:
            - "{{ ansible_local.aws_tags.environment }}"
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Environment]
      target_label: environment
    - source_labels: [__meta_ec2_tag_Project]
      target_label: project
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*Packer Builder.*"
      action: drop

- job_name: ma1sd API HTTP
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "http://{{ ma1sd_internal_domain }}:8090/status"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115

- job_name: Sygnal API HTTP
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "http://{{ sygnal_internal_domain }}:5000/health"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115

- job_name: Synapse Federation API HTTP
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "http://{{ synapse_internal_domain }}:8448/health"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115

- job_name: Synapse Client API HTTP
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "http://{{ synapse_internal_domain }}:8008/health"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115

- job_name: Matrix Load Balancer
  metrics_path: /probe
  params:
    module: ['http_2xx']
  static_configs:
    - targets:
      - "https://{{ matrix_server_fqn_matrix }}/health"
  relabel_configs:
    - source_labels: ['__address__']
      target_label: __param_target
    - source_labels: ['__param_target']
      target_label: instance
    - target_label: __address__
      replacement: 127.0.0.1:9115
